@{
    ViewData["Title"] = "MyPrettyJQueryUIDateRangeSlider";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>MyPrettyJQueryUIDateRangeSlider is a simple JQuery UI Widget Factory powered component.
V 0.1b : Horizontal proportional slidebar to select a period between two dates.
</p>

Laurent Jordi
Innovacall (France - Paris)
