@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{

}
<div class="row">
    <div class="col-md-6">
        <h2>The need</h2>
        <ul>
            <li>Define bouded period</li>
            <li>Define visible period</li>
            <li>Allow users to select a period between bounds</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Options</h2>
        <ul class="noBullet">
            <li>
                <table>
                    <tbody>
                        <tr>
                            <td>bounds start</td>
                            <td><input id="boundStart" type="date" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>bounds end</td>
                            <td><input id="boundEnd" type="date" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>value start</td>
                            <td><input id="valueStart" type="date" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>value end</td>
                            <td><input id="valueEnd" type="date" readonly="readonly" /></td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h2>MyPrettyDateRangeSlider</h2>
        <ul class="noBullet">
            <li>
                <div id="dateRangeSlider"></div>
            </li>
        </ul>
    </div>

</div>
