@model DateRangeSliderDemoPortal.Models.ViewModels.LayoutViewModels.HomeLayoutViewModel
@section ScriptLibs{
    <script src="~/lib/ljoDateRangeSlider/ljoRangeSlider.js"></script>
}
@section ScriptsG{
    <script src="~/js/scriptsg/HomeIndex.js"></script>
}
@section ViewScripts{
    <script src="~/js/views/HomeIndex.js"></script>
}
@section LibCSS{
    <link href="~/lib/jquery-ui-min/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/ljoDateRangeSlider/css/ljoRangeSlider.css" rel="stylesheet" />
}
@section ViewCSS{
    <link href="~/css/Views/HomeIndex.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-6">
        <h2>The need</h2>
        <ul>
            <li>Define bouded period</li>
            <li>Define visible period</li>
            <li>Allow users to select a period between bounds</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Options</h2>
        <ul class="noBullet">
            <li>
                <table>
                    <tbody>
                        <tr>
                            <td>bounds start</td>
                            <td><input id="boundsStart" type="text" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>bounds end</td>
                            <td><input id="boundsEnd" type="text" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>value start</td>
                            <td><input id="valuesStart" type="text" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>value end</td>
                            <td><input id="valuesEnd" type="text" readonly="readonly" /></td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h2>MyPrettyDateRangeSlider</h2>
        <ul class="row noBullet">
            <li>
                <div id="dateRangeSlider"></div>
            </li>
        </ul>
    </div>

</div>
